<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <i class="bi bi-exclamation-triangle text-warning" style="font-size: 5rem;"></i>
            <h1 class="display-4 mt-4">404 - Page Not Found</h1>
            <p class="lead">The page you are looking for could not be found.</p>
            <hr class="my-4">
            <p>The page may have been moved, deleted, or you may have entered an incorrect URL.</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">
                <i class="bi bi-house"></i> Return to Dashboard
            </a>
        </div>
    </div>
</div>
